<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field  :username, class: "form-control", placeholder: "username", type: "text" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field  :name, class: "form-control", placeholder: "Nama", type: "text" %>
  </div>

  <div class="field">
    <%= f.label :nik %><br />
    <%= f.text_field  :nik, class: "form-control", placeholder: "nomor induk karyawan", type: "text" %>
  </div>

  <div class="field">
    <%= f.label :jenis_kelamin %><br />
    <%= f.select  :jenis_kelamin, ['Laki-Laki', 'Perempuan'], {:include_blank =>'Pilih Jenis Kelamin'}, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :alamat %><br />
    <%= f.text_area  :alamat, class: "form-control", placeholder: "Alamat", type: "text" %>
  </div>

  <div class="field">
    <%= f.label :department_id %><br />
    <%= f.collection_select  :department_id, Department.all, :id, :nama_departemen, { prompt: "Pilih Departemen" }, { class: "custom-select" } %>
  </div>

  <div class="field">
    <%= f.label :golongan_id %><br />
    <%= f.collection_select  :golongan_id, Golongan.all, :id, :nama_golongan, { prompt: "Pilih Golongan" }, { class: "custom-select" } %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
